@import "../../styles/mixins";

.wrapper {
  display: block;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 40px;
}

.field {
  height: 500px;
  width: 800px;
  background-color: #fff;
  position: relative;


}

.cursor {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('./assets/cursor.png');
  background-repeat: no-repeat;
  background-size: contain;
}