@import "../../styles/mixins";

.app {
  display: block;
  background: black;
  //height: 100vh;
  //width: 100vw;
}

.enter_name {
  font-size: 20px;
}

.input_name {
  font-size: 18px;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: none;
}

.save_name {
  display: block;
  padding: 10px;
  color: black;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  transition: all .15s ease;

  &:disabled {
    background-color: gray;
    color: #a3a3a3;

    &:hover {
      box-shadow: none;
      cursor: default;
    }
  }

  &:hover {
    box-shadow: 0 0 10px white;
  }
}